.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("/assets/dropdown.svg");
    background-repeat: no-repeat;
    background-position-x: 99%;
    background-position-y: 20px;
}
