@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply min-w-[134px] text-lg rounded-tr-2xl rounded-b-md rounded-tl-md;
}

// .btn--small {
//     @apply py-3 px-1 md:px-4;
// }

.btn--primary {
    @apply bg-yellow-100 text-black-100;
}

.btn--green {
    @apply bg-green-100  text-white-100;
}

.btn--clear {
    @apply bg-transparent;
}

.btn--danger {
    @apply bg-red-100  text-black-100;
}

.btn--warning {
    @apply bg-red-10  text-black-100;
}

input[type="radio"] + label > .checkmark {
    @apply bg-yellow-100 hidden;
}

@font-face {
    font-family: "CreatoDisplayBold";
    src: local("CreatoDisplayBold"),
        url("./fonts/CreatoDisplay/CreatoDisplay-Black.otf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "CreatoDisplayItalic";
    src: local("CreatoDisplayItalic"),
        url("./fonts/CreatoDisplay/CreatoDisplay-BlackItalic.otf")
            format("truetype");
    font-weight: italic;
}
@font-face {
    font-family: "CreatoDisplayMedium";
    src: local("CreatoDisplayMedium"),
        url("./fonts/CreatoDisplay/CreatoDisplay-Medium.otf") format("truetype");
    font-weight: medium;
}
@font-face {
    font-family: "CreatoDisplay";
    src: local("CreatoDisplay"),
        url("./fonts/CreatoDisplay/CreatoDisplay-Regular.otf")
            format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "CreatoDisplayLight";
    src: local("CreatoDisplayLight"),
        url("./fonts/CreatoDisplay/CreatoDisplay-Light.otf") format("truetype");
    font-weight: light;
}
 @layer base {
h1 {
    @apply text-6xl;
}
h2 {
    @apply text-5xl;
}

h3 {
    @apply text-4xl;
}
h4 {
    @apply text-3xl;
}
h5 {
    @apply text-2xl;
}
h6 {
    @apply text-xl;
}
}
.body-medium {
    @apply text-2md;
}
.body-regular {
    @apply text-lg;
}
.body-small {
    @apply text-3sm;
}
.body-extra-small {
    @apply text-2sm;
}
.mantine-1e1m5s4,
.mantine-Tabs-tab {
    padding: 5px;
    // border-bottom: 2px solid rgba(254, 215, 10, 1);
    @media screen and (max-width: 768px) {
        border: none;
        padding: 0;
        margin: 0;
    }
}

.mantine-waltv[data-active] {
    @media screen and (max-width: 768px) {
        padding: 0;
        border-bottom: none;
    }
}

.mantine-1s8spa1.mantine-Tabs-tabsListWrapper {
    border-bottom: 1px solid rgba(15, 13, 0, 0.1);
    @media screen and (max-width: 768px) {
        border: none;
    }
}

.table tbody tr td {
    border-bottom: 1px solid rgba(19, 32, 19, 0.05);
}

.table tbody tr:last-of-type td {
    border-bottom: 1px solid rgba(19, 32, 19, 0.05);
}

.active {
    font-weight: 600;
    mix-blend-mode: normal;
    border-radius: 16px 16px 0px 0px;
    margin-left: 0;
    @media screen and (max-width: 526px) {
        padding: 10px;
        border-radius: 25px;
        color: #ffffff;
        background-color: #000000;
    }
}
.inactive {
    padding: 10px;
}
.mantine-o8x4z2 [role="tab"] {
    mix-blend-mode: normal;
    border-radius: 16px 16px 0px 0px;
    @media screen and (max-width: 526px) {
        margin: 0 10px 10px 0;
        border-radius: 25px;
        background-color: #0f0d000d;
    }
}

// input[type="radio"] + label span {
//     transition: background 0.2s, transform 0.2s;
// }

input[type="radio"]:checked + label .radio_span {
    background-color: #ffb733;
    box-shadow: 0px 0px 0px 2px white inset;
}

input[type="radio"]:checked + label {
    background-color: transparent;
}

.react-tagsinput {
    border-radius: 5px;
}

.react-tagsinput .react-tagsinput-tag {
    color: rgba(15, 13, 0, 0.6);
    background-color: rgba(15, 13, 0, 0.05);
    border: 1px solid rgba(15, 13, 0, 0.05);
    border-radius: 10px;
    padding: 1rem;
}
.react-tagsinput .react-tagsinput-input {
    width: 60%;
    padding: 0.6rem;
}

.react-tagsinput,
.react-tagsinput--focused {
    border-color: rgba(15, 13, 0, 0.05);
}

// .mantine-Tabs-tab{
//     background-color: #000000;
//     color: "red"
// }

// .mantine-Tabs-tabsList{
//     //background-color: #000000;
//     color: "red"
// }
// .mantine-Tabs-tabLabel{
//     background-color: #000000;
//     color: "red"
// }
